
<div class="container-fluid">
    <div class="row">
        <!-- side bar -->
        <!-- DON'T forget to use $ctrl, NOT $scope -->
        <div class="col-md-2">
            <div class="search-key">
                Search:
                <input type="text" ng-model="$ctrl.searchKey">
            </div>
            <div class="sort-key">
                Sort by:
                <select ng-model="$ctrl.sortKey" ng-options="term.label for term in $ctrl.sortTerms"></select>
            </div>
        </div>

        
        <!-- page body area -->
        <div class="col-md-10">
            <div class="phones">
                <!-- NOTE: "track by" must be the last phrase -->
                <!-- 
                    NOTE: {{}} can occur anywhere in the html except src=""
                    that's why we have the ngSrc directive
                -->
                <!--
                    in URL, the part after '#' (e.g. xxx/#/path/path) is NOT sent to the server
                        but is available to JS.
                    it's a technique used to have the page display different things without reloading.
                        (called routing, as we will do in next step)
                    it solves the problem ajax has: content not bookmarkable
                -->
                <ul class="phone-list">
                    <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.searchKey | orderBy: $ctrl.sortKey.value
                        track by $index">
                        <a href="#/phones/{{phone.id}}">
                            <img ng-src="{{'./resources/'+phone.imageUrl}}" alt="{{phone.name}}"
                                class="phone-thumbnail">
                        </a>
                        <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
                        <p>{{phone.snippet}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>